
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.container{
 padding: 30px;
 width:60%;

}

.espacio50{
    width:5%;
	padding:5%;
}

.barra.red a.active, .red a{
    background-color: #4CAF50 !important;
}
.barra.red a.active, .red  a:hover {
    background-color: rgb(102, 250, 107) !important;
    font-weight:  bolder;
    font-size: 1.1em;
}

.titulocentro{
	position: center;
}


#cuadro_compramonedas{
	background-color: beige;
	border-color: darkgreen;
	border-radius: 25px;
	border-style: solid;
	min-height: 450px;
}

.centrando{
	text-align: center;
	margin: 20px;
}

.buttom{
	text-align: center;
}

#convierte-eu-fruit{
	background: #4CAF50;
}



