/*------------------ESTO DA EL COLOR A LA NAVBAR DEL MENU Y MODIFICA LA LETRA----------------*/
/**/  .barra.red a.active, .red a{                                                         /**/ 
/**/       background-color: #4CAF50 !important;                                         /**/ 
/**/   }                                                                                   /**/
/**/   .barra.red a.active, .red  a:hover {                                                /**/
/**/       background-color: rgb(102, 250, 107) !important;                              /**/
/**/       font-weight:  bolder;                                                           /**/
/**/       font-size: 1.1em;                                                               /**/
/**/   }                                                                                   /**/
/*-------------------------------------------------------------------------------------------*/

div.oferta{
    width: 100%;
    background-color: beige;
    border: 2px solid green;
    border-radius: 10px;
    margin:5px;
    padding: 5px;
}


.scroll{
    overflow: scroll;
    width: 100%;
    height: auto;
}

div.saldo{
    text-align: left;
    width: 100%;
    min-height: 300px;
    color:black;
    font-family: fantasy;
    font-size: 15pt;
}


#titulo_oferta{
    color: red;
    font-size: 15pt;
    text-align: left;
    font-weight: bold;
}

#descripcion_oferta{
    font-size: 10pt;
    font-family: Tahoma;
}

#proveedor_oferta{
    font-size: 10pt;
    font-family: cursive;
}

#precio_oferta{
    color: red;
    font-size: 15pt;
    text-align: center;
}

#boton_oferta{
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */
div.panel-heading{
    background: #4CAF50 !important;
    color: white !important;
    text-align: center;
    border-top-left-radius: 10px !important ;
    border-top-right-radius: 10px !important ;
}



.boton_color{
    background: #4CAF50;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

div.panel.panel-info{
    border-radius: 10px !important;

}

/* -------------------------------------------------------------------------------------- */
