@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.heading-title {
    margin-bottom: 20px;
    margin-top: 20px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 10px;
    font-family:'Quicksand';
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: black;
}
.text-uppercase {
    text-transform: uppercase;
    font-family: 'Signika';
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: lightgreen;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}


/* -------------------------------------------------------------------------------------- */

div.container{
    border: 4px solid #3ac162;
    border-radius: 10px;
    width: 100%;
    height: 370px;
    background: beige;
}

div.foto{
    padding-top: 5px;
    height: 270px;
    text-align: center;
}

div.descripcion{
    padding-top: 15px;   
}

div.precio{
    height: 100px;
    text-align: center;
}

div.descripcion2{
    height: 100px; 
}

div.saldo{
    padding-top: 15px;
    height: 270px;
    text-align: center;
}

div.pedir{
    border: 4px solid #3ac162;
    height: 100px;
    text-align:center;
}

/*------------------ESTO DA EL COLOR A LA NAVBAR DEL MENU Y MODIFICA LA LETRA----------------*/
/**/  .barra.red a.active, .red a{                                                         /**/ 
/**/       background-color: #4CAF50 !important;                                         /**/ 
/**/   }                                                                                   /**/
/**/   .barra.red a.active, .red  a:hover {                                                /**/
/**/       background-color: rgb(102, 250, 107) !important;                              /**/
/**/       font-weight:  bolder;                                                           /**/
/**/       font-size: 1.1em;                                                               /**/
/**/   }                                                                                   /**/
/*-------------------------------------------------------------------------------------------*/

